body {
    padding-top: 4.5rem;
}

.message-visible {
    opacity: 1!important;
}

.message {
    opacity: 0;
    transition: opacity 1s ease-in;
}

@media (prefers-color-scheme: dark) {
    .text-dark {
        color: rgba(248, 249, 250, 1)!important;
    }

    .navbar-light .navbar-brand {
        color: #fff!important;
    }

    .bg-light {
        background-color: rgba(0, 0, 0, 1)!important;
    }

    .bg-white {
        --bs-bg-opacity: 1;
        background-color: rgba(33, 37, 41, 1)!important;
    }
}

[x-cloak] { display: none !important; }
